doctype html
html
  head
    meta(charset="utf-8")
    title Index of #{directory}
    style!= style
  body
    h1#path= directory
    table#listing
      tr
        th.listing_name Name
        th.listing_size Size
        th.listing_mtime Modified
      each file in fileList
        tr
          td.listing_name
            a(href=`${directory === "/" ? "" : directory}/${file.name}`)= file.name
          td.listing_size= file.stat.size
          td.listing_mtime= file.stat.mtime.toISOString().replace(/T|Z/g, " ").replace(/\.\d{3}/, "")
